h2 {
	text-align: center;
	font-size: 25px;
}

h4 {
	font-size: 25px;
}

.browse-controls {
  margin-bottom: 20px;
}

.cat-results {
  margin-bottom: 40px;
}

.modal-content{
	width: 60%;
	margin-left: auto;
	margin-right: auto;	
}

.profile-table td {
  padding: 0 10px;
  vertical-align: top;
}

#msg {
  margin-top: 10px;
}

.cat-card {
  cursor: pointer;
}

.cat-card:hover {
  background-color: #e6e6e6;
}

.form-inline{
	margin-left: 20px;
}

.btn-primary{
	margin: 10px;
}

.cat-imgicon {
  height: 20px;
  display: inline;
}

#browse-other {
  display: inline;
}

.contact-table td {
  padding-left: 0;
  padding-right: 20px;
}