.post-container {
  padding: 15px 30px 15px 30px;
}

.section {
  background-color: #ffddb5;
  padding: 20px;
  border-radius: 10px;
}

.title {
  font-weight: bold;
  font-size: 18px;
}

.author {
  font-style: italic;
  float: right;
}

.down-menu {
  float: right;
}

h1 {
  text-align: center;
}

.section-title {
  font: italic 18pt arial;
}

.post {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.search-list {
  padding: 20px;
}

span.list {
  font: 18pt arial;
}
