.row {
  margin-left: -15px;
  margin-right: -15px;
}

.todoOwner-container {
  padding: 10px 20px;
}

.outer {
  margin: 0;
  padding: 20px;
}

.todo-col {
  background-color: white;
  border-radius: 10px;
  border: solid black 1px;
  padding: 20px 30px;
}

.profile {
  background-color: #ffddb5;
  padding: 20px;
  margin: 20px 0;
  font-size: 24px;
}

.profile-name {
  font-weight: bold;
}

.sitter-contact, .todo {
  padding: 0 20px;
  font-size: 24px;
}

.sitter-contact-info {
  padding: 5px 0;
}

h3 {
	text-align: center;
	font-weight: bold;
}

.square-button {
  width: 150px;
  height: 150px;
  white-space: normal;
  margin: 10px;
}

.square-button .glyphicon {
  font-size: 2em;
}

.checkbox {
  background-color: white;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 2px;
}

.ind-checkbox {
	visibility: hidden;
	border-color: green;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding-left: 50px;
  padding-top: 10px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.checkbox ul {
  list-style: none;
  padding-left: 0;
}

.checkbox li {
  margin-top: 10px;
  margin-bottom: 10px;
}

.check {
  color: green;
  visibility: hidden;
}

.modal-text {
  padding-top: 20px;
  padding-bottom: 40px;
}