.row {
	padding: 20px 20px 40px 20px;
	height: 100%;
}

.outer {
	background-color: #D3D3D3; 
}

.inner {
	background-color: #ffddb5;
}

h3 {
	text-align: center;
	font-weight: bold;
}

.profileImage {
	position: absolute;
	height: 200px;
	width: 200px;
}

.catsitterBio {
	font-size: 24px;
	height: 220px;
}

.catsitterContact {
	padding-left: 20px;
	padding-bottom: 20px;
	font-size: 24px;
}

.checkbox {
  background-color: white;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding-left: 50px;
  padding-top: 10px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
}